div {
	padding: 0;
}

#mainDiv {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#topSection {
	height: 50%;
	width: 100%;
	background-color: #584747;
}

#bottomSection{
	background-color: #D9DAC8;
	height: 50%;
	width: 100%;
	margin-top: -20px;
}

#detailedAnalysis{
	height: 50px;
	width: 150px;
	border-radius: 5px;
	box-shadow: inset;
	font-size: 100%;
	font-weight: bold;
	float: right;
}

#pieChart{
	width: 14%;
	height: 50%;
	margin-top: 30px;
	margin-left: 80px;
}

#demo{
	margin-top: 5%;
	margin-left: 5%;
	height: 40px;
	border-radius: 5px;
	cursor: not-allowed;
	background-color: #4CAF50;
}

#reset{
	margin-left: 5%;
	height: 40px;
	border-radius: 5px;
}

.demo:hover{
	background-color: white;
}

.reset:hover{
	background-color: black;
}
